body {
        background: url('/static/images/quiz_background.jpg');
        font-family: "Nunito", sans-serif;
        background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    }
    .answer-btn {
      border: 2px solid #673ab7;
      padding: 1.5rem 1rem;
      border-radius: 10px;
      border: none;
      background-color: #292929;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      flex: 1;
      font-size: 1rem;
      align-items: center;
      display: flex;
    }
    .answers-row {
      display: flex;
      gap: 10px;
      margin-bottom: 1rem;
      padding: 0 100px;
    }
    .answer-btn.selected {
      background-color: #673ab7;
    }
    .answer-btn.correct {
      background-color: #673ab7;
      color: white;
    }
    .answer-btn.incorrect {
      background-color: #c9281c;
      color: white;
    }

    .controls a {
        background-color: #292929;
        color: white;
        text-align: center;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 8px;
        outline: none;
        text-decoration: none;

    }
    .controls {
        text-align: center;
        margin: 2rem 0;
    }