<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-image">
        <nav>
            <div class="logo">YouQuest</div>
        </nav>
        <div class="main-heading">
        <div>
            <h2>What do you know about random topics?</h2>
           <p>Test your knowledge on <span style="color: #087cae;">YouQuest!</span></p>
            <form action="{{ url_for('start_quiz') }}" method="post" class="categories">
      <select name="category" id="category" required>
        <option value="" disabled selected>Category</option>
        <option value="9">General Knowledge</option>
        <option value="21">Sports</option>
        <option value="23">History</option>
        <option value="17">Science & Nature</option>
        <option value="18">Computers</option>
      </select>


      <select name="difficulty" id="difficulty" required>
        <option value="" disabled selected>Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>


      <select name="type" id="type" required>
        <option value="" disabled selected>Question Type</option>
        <option value="multiple">Multiple Choice</option>
        <option value="boolean">True / False</option>
      </select>

      <button type="submit" class="start-btn">Start Quiz</button>
    </form>
        </div>
    </div>
    </div>
</body>
</html>